@font-face {
  font-family: "iconfont"; /* Project id 4512582 */
  src: url('iconfont.woff2?t=1715934048916') format('woff2'),
       url('iconfont.woff?t=1715934048916') format('woff'),
       url('iconfont.ttf?t=1715934048916') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-more:before {
  content: "\e6ad";
}

